<!DOCTYPE html>
<html>
  <head>
    <title>Greenthumbs</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header">
      <h1 class="logo"><a href="/">Greenthumbs</a></h1>

      <nav class="site-nav">
        <%= link_to "Home", root_path %>
        <% if current_user %>
          <%= link_to "Profile", "/users/#{session[:user_id]}" %>
          <%= link_to "Add a Garden", "/gardens/new" %>
          <%= link_to "Calendar" %>
          <%= link_to "Inbox" %>
          Hello, <%= current_user.username %>!
          <%= link_to "Log out", session_path("current"), :method => :delete %>
        <% else %>
          <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
        <% end %>
      </nav>
    </header>

    <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer class="site-footer">
      <small>&copy The app formerly known as vegemite</small>
    </footer>
  </body>
</html>
