<!DOCTYPE html>
<html>
  <head>
    <title>Greenthumbs</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %> <%= controller.action_name %>">
    <header class="site-header">
      <h1 class="logo"><a href="/">greenthumbs<%= image_tag('noun_27054.png') %></a></h1>

      <nav class="site-nav">
        <!-- <%= image_tag('noun_112887_cc.png') %> -->
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <% if current_user %>
            <li><%= link_to "Explore", "/gardens" %></li>
            <li><%= link_to "Profile", "/users/#{session[:user_id]}" %></li>
            <li><%= link_to "Add a Garden", "/gardens/new" %></li>
            <li><%= link_to "Calendar" %></li>
            <li><%= link_to "Inbox" %></li>
            <li>Hello, <%= current_user.username %>!<%= image_tag('noun_22379_cc.png') %></li>
            <li><%= link_to "Log out", session_path("current"), :method => :delete %></li>
          <% else %>
            <li><%= link_to "Log in", new_session_path %></li> or <li><%= link_to "Sign up", new_user_path %></li>
          <% end %>
      </ul>
      </nav>
    </header>

    <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer class="site-footer">
      <small>&copy The app formerly known as vegemite</small>
      <%= image_tag('noun_288936_cc.png') %>
    </footer>

  </body>
</html>
