<div class="form">
<%= form_for [@garden, @reservation] do |f| %>

  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being made:</h2>
      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4 class="garden-name"><%= @garden.title.upcase %></h4>

  <div class="field">
    <% f.hidden_field :garden_id, value: @garden.id %>
  </div>

  <div class="veg-info">
  Veggies: <% @garden.vegetables.each do |vegetable| %>
  <%= vegetable.name.capitalize %>
  (<%= vegetable.start_month %> to <%= vegetable.end_month %>)<br/>
  <% end %>
  </div>

  <div class="field">
    <p>Date: <%= %></p>
    <p>Note: <%= f.text_field :note %></p>
  </div>

  <div class="actions">
    <%= f.submit "Grow" %>
  </div>

<% end %>
</div>
