<div class="form">
<%= form_for [@garden, @reservation] do |f| %>

  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being made:</h2>
      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <div class="field">
    <% f.hidden_field :garden_id, value: @garden.id %>
  </div>

  <div class="field">
    What veg would you like to grow?
    <% @garden.vegetables.each do |vegetable|  %>
      <div>
        <%= check_box_tag "garden[vegetable_ids][]", vegetable.id, @garden.vegetables.include?(vegetable) %>
        <%= vegetable.name %>
      </div>
    <% end %>
    <p>Note: <%= f.text_field :note %></p>
  </div>

  <div class="actions">
    <%= f.submit "Reserve" %>
  </div>

<% end %>
</div>
