<%= link_to "Back to Gardens", gardens_url %>

<div class="reservations-index">
<h1 class="page-title">Reservations</h1>

<% @reservations.each do |reservation| %>
  <p class="reservation-info">
    Name: <%= reservation.grower.username %></br>
    Date: <%= %></br>
    <!-- Veggie: <%= reservation.vegetable_id %></br> -->
    Note: <%= reservation.note %>
  </p>
<% end %>
<!-- how to iterate thru veggies for each reservations? -->
</div>
