<%= link_to "Back to Gardens", gardens_url %>

<h1 class="page-title">Reservations</h1>

<% @reservations.each do |reservation| %>
  <div class="reservation-info"><p>Yay!</p>
    Confirmation Number: <%= reservation.id %> </br>
    Date: <%= reservation.startdate%> </br>
    <%= reservation.enddate%> </br>

    Note: <%= reservation.note %>
  </div>
<% end %>
