<%= link_to "Back", new_garden_reservation_url(@garden, @reservation) %>
<h1 class="page-title"><%= @reservation.user.username.capitalize %>, you're growing veg at...</h1>

<p>
  <%= @garden.title.upcase %></br>
  Date: <%= @reservation.startdate %><br/>
  Note: <%= @reservation.note %>
</p>
<!-- iterate thru all the grower's reservations -->

<%= link_to "Edit" %> | <%= link_to "Delete", method: :delete, data: {confirm: "Are you sure you want to delete this reservation?"}  %>
<!-- fix edit and delete paths -->
