<div class="gardens-index">
<h1 class="gardens-title">Gardens</h1>

<div class="gardens">
  <% @gardens.each do |garden| %>
    <img src="<%= garden.image %>">
    <h3 class="garden-name"><%= garden.title %></h3>
    <p class="garden-info">
      Address: <%= garden.address %><br/>
      Size: <%= garden.size %><br/>
      <%= link_to 'More details or whatever', garden_path(garden) %>
    </p>
  <% end %>

<div id="map">

</div>

</div>

</div>
    <% @gardens.each do |f| %>
            <p class ='geodata' data-geo= "<%= f.address %>"></p>
            <% end %>
    <script>
    function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: {lat: 49.27970, lng: -123.11562},
        });
    function codeAddress(address_input, infowindow) {
        var garden = address_input
        var infoInput = infowindow
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode( {'address': garden}, function(results, status) {
            console.log(results, status)
            if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            var contentString = infoInput
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            marker.addListener('click', function() {
            infowindow.open(map, marker);
            })
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
    <% @gardens.each do |f| %>
    codeAddress("<%= f.address %>", "<%= f.title %>")
    <% end %>
}

    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkgLUAdpOZhEbs3SAkYUGPDAo0-zaDg3I&callback=initMap"
async defer></script>
