<h1>Gardens</h1>

<div class="gardens">
  <% @gardens.each do |garden| %>
    <img src="<%= garden.image %>">
    <h3>Garden: <%= garden.title %></h3>
    <p>
      Address: <%= garden.address %><br/>
      Size: <%= garden.size %><br/>
      Description: <%= garden.description %><br/>
      <%= link_to 'More Details or whatever', garden_path(garden) %>
    </p>
  <% end %>
</div>
