<img src="<%= @garden.image %>">
<h4><%= @garden.title %></h4>
<p>Address: <%= @garden.address %></p>
<p>Size: <%= @garden.size %></p>
<p>About: <%= @garden.description %></p>

<h4>Make a reservation</h4>
<%= form_for [@garden, @reservation] do |f| %>
  <p>Veggie: <%= f.select :vegetable_id, options_for_select(@garden.vegetables.map{|c| [c.name, c.start_month, c.end_month]}) %></p>
  <p>Note: <%= f.text_field :note %></p>
  <%= f.submit %>
<% end %>
