<img src="<%= @garden.image %>">
<h3><%= @garden.title %></h3>
<p>
  Address: <%= @garden.address %><br/>
  Size: <%= @garden.size %><br/>
  About: <%= @garden.description %></br>
  Vegetable: <% @garden.vegetables.each do |vegetable| %>
  <%= vegetable.name %><br/>
  <%= vegetable.start_month %><br/>
  <%= vegetable.end_month %><br/>
  <% end %>
</p>

<h4>Make a reservation</h4>
  <%= form_for [@garden, @reservation] do |f| %>
  <% f.hidden_field :garden_id, value: @garden.id %>
  Veggie:
    <div class="field">
       <% @garden.vegetables.each do |vegetable|  %>
           <div>
               <%= check_box_tag "garden[vegetable_ids][]", vegetable.id, @garden.vegetables.include?(vegetable) %>
               <%= vegetable.name %>
           </div>
       <% end %>
    </div>
  <p>Note: <%= f.text_field :note %></p>
  <%= f.submit %>
  <% end %>
