<%= link_to "Back to Gardens", gardens_path %>
<div class="gardens-show">

<img src="<%= @garden.image %>">
<div class="garden-details">
<h4><%= @garden.title.upcase %></h4>
<p>
  <div class="title"><b>ADDRESS:</b></div> <%= @garden.address %><br/>
  <b>SIZE (in square feet):</b> <%= @garden.size %><br/>
  <b>ABOUT:</b> <%= @garden.description %></br>
  <b>VEGGIES:</b> <% @garden.vegetables.each do |vegetable| %>
  <%= vegetable.name.capitalize %>
  <% end %>
</p>
</div>

<p id="reserve"><%= link_to "Reserve", new_garden_reservation_path(@garden)%></p>

</div>
<!-- <h4>Make a reservation</h4>
  <%= form_for [@garden, @reservation] do |f| %>
  <% f.hidden_field :garden_id, value: @garden.id %>
  What veg would you like to grow?
    <div class="field">
      <% @garden.vegetables.each do |vegetable|  %>
        <div>
          <%= check_box_tag "garden[vegetable_ids][]", vegetable.id, @garden.vegetables.include?(vegetable) %>
          <%= vegetable.name %>
        </div>
      <% end %>
    </div>
  <p>Note: <%= f.text_field :note %></p>
  <%= f.submit %>
  <% end %> -->
