<img src="<%= @garden.image %>">
<p><%= @garden.title %></p>
<p>Address: <%= @garden.address %></p>
<p>Size: <%= @garden.size %></p>
<p>About: <%= @garden.description %></p>
<p>Veggie: <%= @garden.vegetables[:ids] %></p>


<%= form_for [@garden, @reservation] do |f| %>
  <p>Veggies</p>
  <%= f.select :vegetable_id, options_for_select(Vegetable.all.map{|c| [c.name, c.start_month, c.end_month]}) %>
  <%= f.text_field :note %>
  <%= f.submit %>
<% end %>
