<script src="assets/parallax.js"></script>
<div class="main">

  <!-- <nav>
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav> -->

    <%#= if @gardens.present? %>
    <%#= render :gardens %>
    <%#= end %>

  <div id="content">

    <article id="hippies-share">
      <header>
        <h1>Hippies sharing land and growing stuff</h1>
      </header>
        <h5 class="grey-text text-darken-3 lighten-3">Creating a community for sustainable urban living</h5>
    </article>

    <article id="share-land">
      <header>
        <h1>Share Land</h1>
      </header>
        <h5 class="grey-text text-darken-3 lighten-3">Greenthumbs connects people with land to share with people with veg to grow</h5>
    </article>

    <article id="grow-local">
      <header>
        <h1>Grow Local</h1>
      </header>
        <h5 class="grey-text text-darken-3 lighten-3">The roots of all goodness lie in the soil of appreciation</h5>
    </article>

    <article id="veg-out">
      <header>
        <h1>Veg Out</h1>
      </header>
        <h5 class="grey-text text-darken-3 lighten-3">Discover available greenspace and gardeners and start growing some veg together!</h5>
        <%= form_tag(gardens_path, :method => "get", class: "search-form") do %>
          <%= text_field_tag( :search, params[:search], :placeholder => "Explore Our Gardens") %>
          <% submit_tag "Search" %>
        <% end %>
    </article>

  </div>

        <!-- Parallax foreground -->
        <div id="parallax-bg3">
            <!-- <img id="bg3-1" src="assets/veg1.png" alt="wheat"/> -->
            <img id="bg3-2" src="assets/veg2.png" alt="turnips"/>
            <img id="bg3-3" src="assets/landscape.png" alt="landscape"/>
            <img id="bg3-4" src="assets/bees.png" alt="bees"/>
            <img id="bg3-5" src="assets/fruit1.png" alt="strawberries"/>
            <img id="bg3-6" src="assets/fruit2.png" alt="berries"/>
            <img id="bg3-7" src="assets/trust.png" alt="banner"/>
            <img id="bg3-8" src="assets/cannabis.png" alt="maryjane"/>
            <img id="bg3-9" src="assets/plant2.png" alt="raspberries"/>
            <img id="bg3-10" src="assets/veg3.png" alt="onions"/>
            <img id="bg3-11" src="assets/plant1.png" alt="flowers"/>
            <img id="bg3-12" src="assets/veg4.png" alt="lettuce"/>
            <img id="bg3-13" src="assets/veg5.png" alt="tomato"/>
        </div>

        <!-- Parallax midground c-->
        <div id="parallax-bg2">
            <img id="bg2-1" src="assets/cloud-lg1.png" alt="cloud"/>
            <img id="bg2-2" src="assets/cloud-lg1.png" alt="cloud"/>
            <img id="bg2-3" src="assets/cloud-lg1.png" alt="cloud"/>
            <img id="bg2-4" src="assets/cloud-lg1.png" alt="cloud"/>
            <img id="bg2-5" src="assets/cloud-lg1.png" alt="cloud"/>
            <img id="bg2-6" src="assets/bird.png" alt="bird"/>
        </div>

        <!-- Parallax background c-->
        <div id="parallax-bg1">
            <img id="bg1-1" src="assets/cloud-lg2.png" alt="cloud"/>
            <img id="bg1-2" src="assets/cloud-lg2.png" alt="cloud"/>
            <img id="bg1-3" src="assets/cloud-lg2.png" alt="cloud"/>
            <img id="bg1-4" src="assets/cloud-lg2.png" alt="cloud"/>
            <img id="bg1-5" src="assets/sun.png" alt="sun"/>
            <img id="bg1-6" src="assets/moon.png" alt="moon"/>
        </div>

        <% if current_user %>
        <% else %>
        <div class="join-greenthumbs">
            <h1>Join the Greenthumbs Community</h1>
            <div class="waves-effect waves-light btn grey lighten-3">
                <%= link_to "Sign up", new_user_path %>
                <!-- <button type="button"><%= link_to "Log in", new_session_path %></button> -->
            </div>
        </div>
        <% end %>

        <article id="about" class="scrollspy">
          <header>
            <h1>About Us</h1>
          </header>
            <div class="container">
              <div class="row">
                  <div class="col s4">
                    <!-- <h5 class="grey-text text-darken-3 lighten-3">Nicky Shieh</h5> -->
                    <img id="about-us" src="assets/hippy1.jpg"/><br/>
                    <h5 class="grey-text text-darken-3 lighten-3">Nicky Shieh</h5>
                    <a href="https://github.com/PlainofthePo"><%= image_tag('git.png') %></a>
                    <a href="#"><%= image_tag('linkedin.png') %></a>
                  </div>
                  <div class="col s4">
                    <!-- <h5 class="grey-text text-darken-3 lighten-3">Prisara Morales</h5> -->
                    <img id="about-us" src="assets/hippy2.jpg"/><br/>
                    <h5 class="grey-text text-darken-3 lighten-3">Prisara Morales</h5>
                    <a href="https://github.com/prisara"><%= image_tag('git.png') %></a>
                    <a href="https://ph.linkedin.com/in/prisara-morales"><%= image_tag('linkedin.png') %></a>
                  </div>
                  <div class="col s4">
                    <!-- <h5 class="grey-text text-darken-3 lighten-3">William Lavell</h5> -->
                    <img id="about-us" src="assets/hippy4.jpg"/><br/>
                    <h5 class="grey-text text-darken-3 lighten-3">William Lavell</h5>
                    <a href="https://github.com/Wlavell2016"><%= image_tag('git.png') %></a>
                    <a href="#"><%= image_tag('linkedin.png') %></a>
                  </div>
                </div>
              </div>
        </article>

</div>

  <!-- <div class="footer-fixed"> -->
  <footer class="page-footer grey">

    <div class="row">
      <div class="col s12 m4 l6">
        <h5 id="about" class="white-text scrollspy">About Us</h5>
      </div>

      <!-- <div class="col s12 m4 l4">
        <div class="center-align">
        </div>
      </div>
      </div> -->

    <div class="col s12 m4 l6">
      <div class="right-align">
        <ul>
          <li><a href="#" class="grey-text text-lighten-4 ">Help</a></li>
          <li><a href="#" class="grey-text text-lighten-4 ">Privacy and Terms</a></li>
          <li><a href="#" class="grey-text text-lighten-4 ">User Agreement</a></li>
        </ul>
      </div>
      </div>

    <div class="footer-copyright">
      <div class="container">
        © 2016 Copyright Information
        <a class="grey-text text-lighten-4 right" href="#!">Links</a>
        <a class="grey-text text-lighten-4 right" href="#!">Links</a>
        <a class="grey-text text-lighten-4 right" href="#!">Links</a>
        <a class="grey-text text-lighten-4 right" href="#!">Links</a>
      </div>
    </div>

  </footer>

</div>
</div>
