<div class="main">

    <nav>
        <div class="nav-wrapper">
            <div class="input-field">
                <!-- <input id="search" type="search" required> -->
                <%= form_tag(gardens_path, :method => "get", class: "search-form") do %>
                <span class="blue-text text-darken-2">
                    <i class="material-icons">search<%= text_field_tag( :search, params[:search]) %></i>
                </span>
                <!-- <i class="material-icons">search<%= text_field_tag( :search, params[:search], placeholder: "Search away") %></i> -->
                <% submit_tag "Search" %>
                <% end %>
            </div>
        </div>
    </nav>

    <%#= if @gardens.present? %>
    <%#= render :gardens %>
    <%#= end %>

    <div class="info-hippies">
        <!-- <%= image_tag('parallax1.jpg') %> -->
        <%= image_tag('veggy.png') %>
        <div class="box">
            <h1>Hippies sharing land and growing stuff</h1>
        </div>
    </div>

    <div class="parallax-container">
        <!-- <div class="parallax"><img src="groupshot.jpg"></div> -->
        <div class="parallax"><%= image_tag('parallax1.jpg') %></div>
    </div>
    <!-- <div class="parallax"><img src="/hands.jpg" alt="Unsplashed background img 1"></div> -->

    <div class="info-share">
        <h1>Share land</h1>
        <p>
            <!-- <%= image_tag('noun_18742_cc.png') %><br/> -->
            Greenthumbs connects people with land to share with people with veg to grow -
            <br/>
            Creating a community for sustainable urban living.
        </p>
        <!-- <p>
    Greenthumbs: Connecting gardens and people with vegetables to grow
  </p> -->
    </div>

    <div class="info-grow">
        <div class="box-grow">
            <h1>Grow local</h1>
            <p>
                <!-- <%= image_tag('noun_205045_cc.png') %><br/> -->
                <!-- Discover available greenspace and gardeners and start growing some veg together! -->
                The roots of all goodness lie in the soil of appreciation
            </p>
        </div>
    </div>

    <!-- <div class="info-veg">
  <h1>Veg out</h1>
  <p>
  <%= image_tag('3_2_720.jpg') %>
    <div class="testimonial">
    "Amazing app!!!! Cos I founded it!"<br/>
    - Captain Amazing (aka Will Lavell)
    </div>
  </p>
</div> -->

    <% if current_user %>

<% else %>
    <div class="info-sign">

        <h1>Join the Greenthumbs Community</h1>
        <!-- <p><%= image_tag('noun_81677_cc.png') %></p> -->

        <div class="buttons">
            <button type="button"><%= link_to "Sign up", new_user_path %></button>
            <button type="button"><%= link_to "Log in", new_session_path %></button>
        </div>

    </div>
    <% end %>

</div>
