<%= link_to "Back to Gardens", gardens_url %>

<div class="reservations-index">
<h1 class="page-title">Reservations</h1>

<% @reservations.each do |reservation| %>
  <div class="reservation-info"><p>Grow!</p>
    Confirmation Number: <%= reservation.id %> </br>
    Date: <%= reservation.startdate.strftime("%b %d %Y")%> </br>
    <%= reservation.enddate.strftime("%b %d %Y")%> </br>

    Note: <%= reservation.note %>
  </div>
<% end %>
</div>
