<div class="gardens-index">
  <div class="row">
    <div class="col s12 m4 l6 offset-l6">
      <div class="gardens">
<!--Here i loop through our data and serve it to the web wiht a slice-->
        <div class="carousel">
          <% @gardens.each do |garden| %>
            <a class="carousel-item" href="<%=garden_path(garden)%>">
              <%= garden.title %>,
              <%= garden.address %>,
              <%= garden.size %>,
            </a>
      <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

    <div id="map" class="fixed">test blah blah
        </div>
    </div>
</div>

    <script>
       function initMap() {
         var toronto = {lat: 43.669297, lng: -79.415811};
         var map = new google.maps.Map(document.getElementById('map'), {
             zoom: 12,
             center: toronto
           });
      <%  @gardens.each do |g|  %>
      var marker = new google.maps.Marker({
        position: {lat: <%= g.latitude.to_f %>, lng: <%=g.longitude.to_f%>},
        map: map
      });
      <% end %>
    }

    </script>
     <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfGdWTZAmF0HDpWOnGsfVpIwLcb94EO-0&callback=initMap">
     </script>
