<h1>Edit</h1>

<%= form_for @user do |form| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Type" %><br/>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label "User Name" %><br/>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label "First name" %><br/>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label "Last name" %><br/>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label "Email" %><br/>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label "Password" %><br/>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label "Confirm password" %><br/>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions"><%= form.submit %></div>

<% end %>
